<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    {{#link-to 'dashboard' class="navbar-brand"}}Ember Admin{{/link-to}}
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i> Meu perfil</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-gear fa-fw"></i> Preferências</a>
        </li>
        <li class="divider"></li>
        <li>
          <a {{action 'logout'}}><i class="fa fa-sign-out fa-fw"></i> Sair</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            {{!-- <input type="text" class="form-control" placeholder="Pesquisar..."> --}}
            {{!-- <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
              </button>
            </span> --}}
          </div>
          <!-- /input-group -->
        </li>
        <li>
          {{#link-to 'dashboard'}}<i class="fa fa-dashboard fa-fw"></i> Dashboard {{/link-to}}
        </li>
        {{!-- <li>
          {{#link-to 'searches'}}<i class="fa fa-search fa-fw"></i> Pesquisas {{/link-to}}
        </li> --}}
        <li>
          {{#link-to 'shop'}}
          <i class="fa fa-building fa-fw"></i> Lojas
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'user'}}
          <i class="fa fa-users fa-fw"></i> Usuários
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'product'}}
          <i class="fa fa-shopping-cart fa-fw"></i> Produtos
          {{/link-to}}
        </li>
        <li>
          <a href="#">
            <i class="fa fa-sitemap fa-fw"></i> Elementos do site<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              {{#link-to 'category'}}Categorias{{/link-to}}
            </li>
            <li>
              {{#link-to 'subcategory'}}Subcategorias{{/link-to}}
            </li>
            <li>
              {{#link-to 'city'}}Cidades{{/link-to}}
            </li>
            <li>
              {{#link-to 'activity'}}Atividades{{/link-to}}
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
